/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

li{
    text-transform: capitalize;
    font-weight: bold;
}

li,
ul,
nav{
    display: inline-block;
    /* vertical-align: middle; */
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.container{
    height: 750px;
    /* min-width: 1487px; */
}

.wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.jumbotron{    
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.topbar{
    width: 100%;
    height: 70px;
    padding-top: 20px;
    margin: 0 auto;
}

.button{
    height: 30px;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px

}

.col-60{
    display: inline-block;
    background-color: red;
    width: 59.5%;
    height: 100%;
}

.col-40{
    display: inline-block;
    background-color: blue;
    width: 40%;
    height: 100%;
}

.white-bg{
    background-color: white;
}

.lgray-bg{
    background-color: lightgray;
}

.black-bg{
    background-color: darkslategrey;
}

.white-txt{
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}