/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

li,
ul,
nav{
    display: inline-block;
    /* vertical-align: middle; */
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.container{
    height: 800px;
    /* min-width: 1487px; */
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.jumbotron{    
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button{

}

.white-bg{
    background-color: white;
}

.lgray-bg{
    background-color: lightgray;
}

.black-bg{
    background-color: darkslategrey;
}

.white-txt{
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}